html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
a,input,div {
	margin: 0;
	padding: 0;
}

fieldset,
img {
	border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

address,
cite,
dfn,
em,
i,
var {
	font-style: normal;
}

a {
	text-decoration: none;
}

html,
body {
	height: 100%
}

ul,
ol {
	list-style: none;
}

strong,
b {
	font-weight: normal;
}

body,
button,
input,
select,
textarea,a {
	font: 12px "微软雅黑", Arial, Helvetica, sans-serif;
	color: #333;
}


/*以上是重置样式*/

/*头部*/

#top-lead {
	height: 90px;
	background: #000 url(../img/dt0902.jpg) center no-repeat;
}

#top-lead .box-lead {
	height:90px;
	width:1200px;
	margin:0 auto;
}
#top-lead .box-lead a{height:100%;width:100%;float:left;}



/*头部导航*/

#top-nav {
	height: 31px;
	border-bottom: 1px solid #ececec;
	background: #f2f2f2;
}

#top-nav .w-clearfix {
	zoom: 1;
	width: 1180px;
	height: 32px;
	margin: 0 auto;
}

#top-nav .fl-clearfix {
	zoom: 1;
	float: left;
}

#top-nav ul li {
	float: left;
	line-height: 30px;
	padding-right: 20px;
	color: #999;
	font-size: 12px;
}

#top-nav ul li i {
	font-size: 14px;
	color: #b81c22;
}

#top-nav ul li i.center-help {
	width: 15px;
	display: inline-block;
}

#top-nav ul li .hlight {
	color: #b81c22;
}

#top-nav ul li a {
	color: #999;
}

#top-nav ul li a:hover {
	color: #b81c22;
}

#top-nav .fr-clearfix {
	height: 32px;
	float: right;
}

#top-nav .weibo-img {
	height: 30px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
}

#top-nav .weibo-img img {
	height: 30px;
	width: 30px;
}

#top-nav .weibo-img .weibo {
	height: 150px;
	width: 150px;
	position: absolute;
	z-index: 1000;
	top: 30px;
	left: -50px;
	display: none;
}

#top-nav .weixin-img {
	height: 30px;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

#top-nav .weixin-img img {
	height: 20px;
	width: 20px;
	margin-top: 6px;
}

#top-nav .weixin-img .weixin {
	height: 150px;
	width: 150px;
	position: absolute;
	z-index: 1000;
	top: 22px;
	left: -45px;
	display: none;
}


/*搜索框*/

#header-cont {
	height: 104px;
	width: 1180px;
	margin: 0 auto;
}


/*logo*/

#header-cont .fl-logo {
	width: 400px;
	height: 104px;
	float: left;
	background: url(../img/zj-logo.png) no-repeat center left;
}

#header-cont .fl-logo a {
	display: inline-block;
	height: 42px;
	line-height: 21px;
	font-size: 14px;
	padding: 34px 0px 28px 209px;
	float: left;
}

#header-cont .fl-logo .gif {
	width: 77px;
	height: 55px;
	float: left;
	margin: 20px 0 0 0px;
}

#header-cont .fl-logo .gif a {
	width: 100%;
	height: 100%;
	display: block;
	cursor: pointer;
	padding: 0;
}

#header-cont .fl-logo .gif a img {
	vertical-align: top;
}


/*搜索框*/

#header-cont .search {
	height: 71px;
	width: 500px;
	padding-top: 20px;
	float: left;
}

#header-cont .search-wrap {
	border: 3px solid #b81c22;
	height: 32px;
}

#header-cont .search-box {
	display: inline;
	z-index: 3;
	position: relative;
	float: left;
	height: 32px;
	width: 417px;
	background: #cfc;
}

#header-cont .search-box #keyword {
	color: #333;
	height: 24px;
	line-height: 24px;
	padding: 4px;
	width: 409px;
	border: none;
	display: inline;
	outline: none;
}

#header-cont .search-btn {
	width: 76px;
	height: 32px;
	float: right;
}

#header-cont .search-btn input {
	font-size: 16px;
	background-color: #b81c22;
	border: 0;
	color: #fff;
	cursor: pointer;
	height: 32px;
	text-align: center;
	width: 76px;
	display: inline;
	outline: none;
}


/*搜索下的导航*/

#header-cont .hot-search {
	padding-top: 7px;
	height: 18px;
}

#header-cont .hot-search h2 {
	color: #999;
	float: left;
}

#header-cont .hot-search a {
	float: left;
	margin: 0 7px;
	color: #999;
}

#header-cont .hot-search a:hover {
	color: #B81C22;
}


/*小车*/

#header-cont .shopcar {
	z-index: 3;
	position: relative;
	width: 142px;
	height: 38px;
	margin-top: 28px;
	margin-right: 30px;
	float: right;
}

#header-cont .shopcar dt {
	z-index: 1;
	position: relative;
	width: 140px;
	height: 36px;
	border: 1px solid #e6e3d3;
	line-height: 36px;
	text-align: center;
	color: #666;
}

#header-cont .shopcar dt .xian {
	background: #fff;
	position: absolute;
	height: 5px;
	top: 36px;
	width: 140px;
	display: none;
}

#header-cont .shopcar i.iconfont {
	position: absolute;
	left: 16px;
	width: 17px;
	height: 17px;
	color: #B81C22;
}

#header-cont .shopcar a:hover {
	color: #B81C22;
}

#header-cont .shopcar .icon-count {
	position: absolute;
	margin-top: -5px;
	padding-left: 5px;
	background: url(../img/icon_index.png) -80px -80px no-repeat;
	font-size: 11px;
	color: #fff;
}

#header-cont .shopcar .icon-count i {
	display: block;
	height: 14px;
	line-height: 14px;
	padding-right: 6px;
	background: url(../img/icon_index.png) right -240px no-repeat;
}

#header-cont .shopcar .dd {
	display: none;
	position: absolute;
	top: 40px;
	right: 0px;
	width: 273px;
	background-color: #fff;
	border: 1px solid #e7e7e7;
	box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

#header-cont .shopcar .nothing {
	padding-left: 73px;
	height: 61px;
	line-height: 61px;
	color: #999;
}

#header-cont .shopcar .nothing i {
	position: absolute;
	top: 0;
	width: 44px;
	height: 61px;
	margin-left: -52px;
	background: url(../img/icon_index.png) -160px -68px no-repeat;
}
/*--------有物品的小车------*/
#header-cont .shopcar .something {
height: 43px;
margin: 0 15px;
line-height: 43px;
color: #666;
font-weight: bold;
overflow: auto;
}
#header-cont .shopcar .goods-list {
margin: 0 0 0 15px;
max-height: 300px;
overflow: auto;
}
#header-cont .shopcar .goods-list li {
float: left;
border-top: 1px dashed #c6c6c6;
padding: 14px 0;
}
#header-cont .shopcar .goods-list li>p {
float: left;
}
#header-cont .shopcar .goods-list li>p img {
width: 58px;
height: 58px;
}
#header-cont .shopcar .detail {
float: left;
margin-left: 10px;
width: 160px;
}
#header-cont .shopcar .detail h5 a {
color: #666;
}
#header-cont .shopcar .detail p {
height: 28px;
line-height: 28px;
font-size: 14px;
color: #999;
}
#header-cont .shopcar .detail .op {
float: right;
color: #2960bb;
font-size: 12px;
cursor: pointer;
}
#header-cont .shopcar .detail .pr {
color: #b81c22;
}
#header-cont .shopcar .sum {
height: 45px;
margin: 0 15px;
line-height: 45px;
color: #666;
text-align: right;
}
#header-cont .shopcar .sum .highlight {
color: #b81c22;
}
#header-cont .shopcar .sum em {
padding: 0 0.5em;
}
#header-cont .shopcar .sum big {
font-size: 18px;
}
#header-cont .shopcar .go-acc {
height: 45px;
}
#header-cont .shopcar .go-acc a {
float: right;
height: 28px;
padding: 0 10px;
margin: 0 15px;
background: #b81c22;
color: #fff;
text-align: center;
font-weight: bold;
line-height: 28px;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

/*主题部分*/


/*主题     二级页面部分*/

#main-nav {
	height: 40px;
	line-height: 40px;
	border-bottom: 2px solid #b81c22;
}

 .w {
	position: relative;
	z-index: 2;
	width: 1180px;
	margin: 0 auto;
}

#category-nav {
	position: absolute;
	left: 0;
	width: 200px;
}


.clearfix:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

#category-nav h2 {
	height: 42px;
	line-height: 42px;
	overflow: hidden;
	padding-left: 57px;
	font-size: 14px;
	color: #FFF;
	background-color: #b81c22;
}

#category-nav ul li {
	height: 60px;
	background-color: #313131
}

#category-nav h3 {
	position: relative;
	z-index: 1;
	margin: 0 7px;
	padding-left: 50px;
	border-bottom: 1px dashed #484848;
	line-height: 59px;
	font-size: 14px;
	color: #FFF;
}

#category-nav h3 .icon-bai {
	background: url(../img/icon_index.png) 0 -143px no-repeat;
}

#category-nav h3 .icon-hong {
	background: url(../img/icon_index.png) -80px -143px no-repeat;
}

#category-nav h3 .icon-yang {
	background: url(../img/icon_index.png) -160px -143px no-repeat;
}

#category-nav h3 .icon-pi {
	background: url(../img/icon_index.png) -240px -143px no-repeat;
}

#category-nav h3 .icon-li {
	background: url(../img/icon_index.png) -320px -143px no-repeat;
}

#category-nav h3 .icon-hun {
	background: url(../img/icon_index.png) -400px -143px no-repeat;
}

#category-nav h3 i {
	position: absolute;
	width: 20px;
	height: 59px;
	margin-left: -35px;
}

#category-nav h3 a,
#category-nav h3 a:hover {
	color: #fff;
}
/*二级页面导出数据的样式*/
#category-nav .pop{
display: block;
position: absolute;
top: 42px;
left: 200px;
width: 740px;
height: 320px;
overflow: hidden;
padding: 19px;
border: 1px solid #d7d7d7;
background-color: #FFF;
line-height: 1;
}
#category-nav .pop-trees{
	width:560px;
}
#category-nav .fl{
	float:left;
}
#category-nav .pop-trees dt{
	margin-right: 22px;
border-bottom: 1px solid #313131;
}
#category-nav .pop dt{
	padding-bottom: 15px;
font-size: 14px;
color: #313131;
font-weight: bold;
}
#category-nav .pop-trees dd{padding:15px 0;}
#category-nav .pop-trees ul{width:100%;overflow: hidden;}
#category-nav .pop-trees ul li{
	float: left;
width: 80px;
height: 24px;
line-height: 24px;
overflow: hidden;
color: #313131;
background-color:#fff;
cursor: pointer;
}
#category-nav .pop-trees ul li:hover{
	color:#B81C22;
}
#category-nav .pop-promotion{
	float:right;
	width:180px;
}
#category-nav .pop-promotion dd{
	width: 100%;
height: 124px;
overflow: hidden;
margin-bottom: 8px;
}

/*小红三角*/

#category-nav h3 .icon-tri {
	display: none;
	right: -16px;
top: 25px;
margin-left: auto;
border-color: transparent transparent transparent #b81c22;
border-style: solid;
border-width: 6px 0 6px 9px;
width: 0;
height: 0;
font-size: 0;
line-height: 0;
}


/*主题头部 导航*/

#mainTop-nav {
	margin-left: 200px;
}

#mainTop-nav li {
	float: left;
padding: 0 20px;
}

#mainTop-nav li a {
	position: relative;
	text-align: right;
	font-weight: bold;
	font-size: 16px;
	color:#333;
}
#mainTop-nav li a:hover{
	color: #b81c22;
}
#mainTop-nav li a .hot {
	background: url(../img/hot.png) no-repeat scroll center top;
	display: block;
	height: 17px;
	position: absolute;
	right: -15px;
	top: -15px;
	width: 29px;
}
/*---------------banner图图----------*/
#banner{height: 360px;
background-color: #fcefbb;}
#banner .w {
    z-index: 2;
    position: relative;
    width: 1180px;
    margin: 0 auto;
}
#banner .notice {
    position: absolute;
    right: 0px;
    width: 200px;
    height: 360px;
    overflow: hidden;
    background-color: #ffffff;
}
#banner .notice h2 {
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    font-weight: bold;
    font-size: 13px;
}
#banner .notice a{
    color: #666;
    line-height: 36px;
    font-size: 12px;
    float: right;
}
#banner .notice a:hover{
	color: #B81C22;
}
#banner .notice i.arrow {
    margin-left: 9px;
    font-size: 10px;
    color: #999999;
}
#banner .notice .icon-trum {
    display: inline-block;
    width: 16px;
    height: 36px;
    margin-right: 8px;
    vertical-align: middle;
    font-weight: normal;
    background: url(../img/icon_index.png) -240px -73px no-repeat;
}
#banner .notice ul{
height: 120px;
padding: 4px 10px 20px;
background-color: #fff9e9;
}
#banner .notice ul li{
height: 28px;
line-height: 28px;
overflow: hidden;
}
#banner .notice ul li a {float:none;}
#banner .notice b{margin-right: 0.5em;
font-weight: bold;}
#banner .notice ul li:first-child a{color: #b81c22;}

#banner .flexslider {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 360px;
    overflow: hidden;
}
#banner .sliders {
    position: relative;
    z-index: 1;
    zoom: 1;
}
#banner .sliders  li {
    height: 360px;
    width: 100%;
    float: left;
    margin-right: -100%;
    position: relative;
	opacity: 0;
    z-index: 1;  
}
#banner .sliders  li a {
    display: block;
    width: 780px;
    height: 100%;
    margin: 0 auto;
}
.flex-control{
    position: absolute;
    bottom: 10px;
    z-index: 2;
    width: 100%;
    text-align: center;
}
.flex-control li {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    zoom: 1;
}
.flex-control a {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
    background: url(../img/icon_index.png) left -400px no-repeat;
    cursor: pointer;
    color: #fff;
}
.flex-control .active{
	background: #B81C22;
	border-radius: 50%;
}
.flex-control a:hover {
	color: #B81C22;
}


/*----------------------------注册 登录公共样式---------------------------*/
.load_wrap {
background: #f7f7f7;
width: 100%;
height:auto;
}

.load_top{
padding-left: 11px;
width: 989px;
margin: 0 auto;
height: 60px;
padding-top: 40px;	
}
.load_top .top_l {
float: left;
}
.load_top .top_l .top_l1 {
background: url(../img/load1101.png) no-repeat -111px -104px;
width: 177px;
height: 60px;
padding-right: 25px;
border-right: 1px solid #d2d0d3;
float: left;
}
.load_top .top_l .top_l2 {
float: left;
line-height: 60px;
padding: 0 15px;
color: #626262;
font-size: 20px;
font-family: microsoft yahei;
}
.load_top .top_r {
float: right;
margin-top: 15px;
font-family: "微软雅黑";
}
.load_top .top_r li {
float: left;
width: 140px;
height: 30px;
line-height: 30px;
font-size: 14px;
color: #313131;
}
.load_top .top_r li.top_r1 {
background: url(../img/load1101.png) no-repeat -389px -59px;
padding-left: 40px;
width: 100px;
}
.load_top .top_r li.top_r2 {
background: url(../img/load1101.png) no-repeat -389px -90px;
padding-left: 40px;
width: 100px;
}
.load_top .top_r li.top_r3 {
background: url(../img/load1101.png) no-repeat -389px -121px;
padding-left: 40px;
width: 100px;
}

.load_con {
width: 1000px;
margin: 50px auto 0;
}
/*----------------登录注册 底部公共样式---------*/
.load_foot {
width: 1000px;
margin: 60px auto 0;
}
.load_foot p {
height: 24px;
line-height: 24px;
text-align: center;
color: #898989;
}









/*矢量图标*/
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1472894534_104356.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1472894534_104356.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1472894534_104356.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1472894534_104356.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1472894534_104356.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{font-family:"iconfont";
font-size:16px;font-style:normal;}                    
